@media all and (max-width: 700px) {

    .navbar{
        height: auto;
        flex-wrap: wrap;
    }

    .menu-buttons{
        margin-top: 20px;
    }

    .special-offers{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .two-cards{
        width: 480px;
    }

    .maldives-krit{
        margin-right: 0;
    }

    .lux{
        width: 480px;
        height: 258px;
        margin-top: 24px;
    }

    .text-card-lux{
        margin-left: 45px;
        margin-top: 40px;
    }

    .card-header-lux{
        font-size: 40px;
    }

    .detailed-lux{
        margin-top: 27px;
    }












    .benefits-line{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .benefits-element{
        width: 276px;
        height: 276px;
        margin-right: 22px;
        margin-bottom: 22px;
    }
    .second-line{
        margin-top: 0;
    }
    /* Размещение */
    .placement-block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .placement-card{
        margin-right: 24px;
        margin-bottom: 24px;
    }
    .plc-margin-top{
        margin-top: 0;
    }
}