@font-face {
    font-family: 'Muller';
    src: local('Muller Regular'), local('Muller-Regular'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: Muller;
    font-size: 16px;
    font-weight: 400;
    background-color: #F1F1F1;
}

*::selection{
    color: white;
	background: #CC9933;
}

body{
    max-width: 1170px;
    margin: 0px auto;
}

html{
    scroll-behavior: smooth;
}

.main-header{
    margin-top: 30px;
}

.nav-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.logo-number{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.logo{
    margin-right: 40px;
}

.number{
    font-size: 20px;
    font-weight: 500;
}

.number a{
    color: #666666;
    white-space: nowrap;
}

.number a:active{
    color: #919191;
}

.lk-left{
    color: #CC9933;
    display: inline-block;
}

.lk-left:hover{
    text-decoration: underline;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: white;
    border-radius: 15px;
    margin-top: 30px;
    height: 70px;
}

.menu ul{
    display: flex;
    justify-content: center;
    margin-left: 40px;
}

.menu-text{
    margin-right: 40px;
}

.menu-text a{
    color: #666666;
}

.menu-text a:hover{
    color: #CC9933 ;
}

.top-button{
    margin-right: 40px;
    padding: 13px 20px;
    border: 1px solid #CC9933;
    color: #CC9933;
    border-radius: 10px;
    white-space: nowrap;
}

.top-button:hover{
    background-color: #CC9933;
    color: #FFFFFF;
}

.menu-buttons{
    display: flex;
    flex-wrap: nowrap;
}

.headers{
    margin-top: 70px;
    margin-left: 40px;
    font-size: 40px;
    font-weight: 400;
}
