
.special-offers{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.maldives-krit{
    margin-right: 24px;
    width: 50%;
}

.two-cards:not(:last-child){
    margin-bottom: 24px;
}

.two-cards{
    height: 258px;
    border-radius: 15px;
}

.lux{
    height: 540px;
    width: 50%;
    border-radius: 15px;
    background-image: url(../img/Special.png);
    background-repeat: no-repeat;
    background-size: cover ;
}

.text-card{
    margin-left: 45px;
    padding-top: 40px;
}

.text-card-lux{
    margin-left: 45px;
    margin-top: 212px;
}

.card-header{
    color: #fff;
    font-size: 40px;
    font-weight: 700;   
}

.card-header-lux{
    font-size: 60px;
}

.cost{
    margin-top: 15px;
    font-size: 20px;
    color: #fff;
}

.detailed{
    margin-top: 47px;
}

.detailed-a{
    display: flex;
    align-items: center;
}

.detailed-text{
    color: #F0BF5F;
    margin-right: 5px;
}

.maldives{
    background-image: url(../img/Maldives.png);
    background-repeat: no-repeat;
    background-size: cover ;
}

.krit{
    background-image: url(../img/Krit.png);
    background-repeat: no-repeat;
    background-size: cover ;
}

.maldives:hover{
    background-image: url(../img/Maldives-darker.png);
    background-repeat: no-repeat;
    background-size: cover ;
}

.krit:hover{
    background-image: url(../img/Krit-darker.png);
    background-repeat: no-repeat;
    background-size: cover ;
}

.lux:hover{
    background-image: url(../img/Special-darker.png);
    background-repeat: no-repeat;
    background-size: cover ;
}
/* О нас */
.about-text{
    max-width: 888px;
    margin-top: 20px;
    line-height: 32px;
}
/* Услуги */
.services-section{
    margin-top: 20px;
    display: flex;
}

.services-two{
    width: 50%;
}

.services-margin-right{
    margin-right: 24px;
    width: 50%;
}

.four-cards{
    height: 330px;
    margin-bottom: 24px;
    border-radius: 17px;
    background-color: #fff;
}

.services-img{
    min-height: 100px;
    width: 100%;  
}

.exclusive-paragraph{
    margin-top: 26px;
    margin-left: 45px;
}

.exclusive-text{
    font-size: 20px;
    font-weight: 500;
    color: #CC9933;
    padding-right: 5px;
}

.exclusive-paragraph p{
    line-height: 32px;
}
/* Преимущества */
.benefits-elements{
    margin-top: 20px;
}

.benefits-line{
    display: flex;
    justify-content: space-between;
}

.benefits-element{
    width: 25%;
    height: 276px;
    background-color: #fff;
    border-radius: 15px;
}

.benefits-element:not(:last-child){
    margin-right: 22px;
}

.second-line{
    margin-top: 22px;
}

.benefits-text-block{
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 42px;
}

.benefits-text{
    margin-top: 10px;
    line-height: 32px;
    min-width: 189px;
}
/* Размещение */
.placement-element{
    margin-top: 20px;
}

.placement-block{
    display: flex;
}

.plc-margin-top{
    margin-top: 24px;
}

.placement-card{
    width: 374px;
    height: 440px;
    background-color: #fff;
    border-radius: 15px;
}

.placement-card:not(:last-child){
    margin-right: 24px;
}

.placement-card-text{
    margin-top: 32px;
    margin-left: 45px;
}

.placement-cost-rate{
    display: flex;
}

.placement-cost{
    margin-right: 53px;
    margin-bottom: 16px;
}

.ot{
    color: #999999;
    padding-right: 4px;
}

.price{
    font-size: 20px;
    font-weight: 700;
    padding-right: 4px;
}

.placement-hotel-name-text{
    margin-bottom: 16px;
}

.placement-location-text{
    color: #999999;
    margin-bottom: 20px;
}

.placement-room-button{
    display: inline-block;
    color: #CC9933;
    padding: 13px 20px;
    border: 1px solid #CC9933;
    border-radius: 10px;
}

.placement-room-button:hover{
    color: #fff;
    background-color: #CC9933;
}

.placement-card-bg{
    background-image: url(../img/placement-big-card.png);
    background-repeat: no-repeat;
    background-size: cover ;
    min-width: 374px;;
}

.see-all-link{
    display: flex;
    justify-content: center;
    margin-top: 373px;
}

.see-all-text{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.see-all-link:hover{
    text-decoration: underline;
    color: #fff;
}
/* Хочу тур */

.want-tour-block{
    margin-top: 70px;
    background-color: #E9E9E9;
    border-radius: 15px;
}

.inside-want-tour{
    padding: 45px 40px;
}

.headers-want-tour{
    margin: 0;
}

.choosing-block-want-tour{
    margin-top: 20px;
    padding: 31px 28px 32px 28px;
    background-color: #fff;
    border-radius: 15px;
}

.choosing-block-want-tour{
    display: flex;
}

.tour-element{
    margin-right: 41px;
}

.tour-bottom-element{
    margin-top: 15px;
}